.create-node {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.create-node-container {
    width: 320.76px;
    height: auto;
}

#input {
    margin-left: 0.5rem;
}

.create-node-radio {
    display: flex;
    align-items: center;
}

p {
    margin-right: 0.5rem;
}


