.searchbar-container {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

#search-input {
    width: 427px;
    margin: 0.1rem;
}

.search-button {
    width: 60px;
    margin: 0.1rem;
}

.search-button:hover {
    cursor: pointer;
}
