.single-node-container {
    display: flex;
    justify-content: space-between;
}

.single-node-name:hover {
    cursor: pointer;
}

.folder::before {
    content: "\2186";
    color: #f31212;
    font-size: 11px;
    margin-right: 0.2rem;
}

.file::before {
    content: "\26AC";
    color: #f31212;
    font-size: 11px;
    margin-right: 0.2rem;
}

.single-node-button {
    width: 60px;
    margin: 0.1rem;
}

.single-node-button:hover {
    cursor: pointer;
}

.node-child {
    margin-left: 0.5rem;
}

.empty-folder {
    font-size: 12px;
}
